    <div id="footer">
      <div class="engage">
        <h6>Still having troubles? Let's talk.</h6>
  <p> We're here to answer your questions from 9am to 6pm PST Monday through Friday. Get in touch by sending us an <a href="#">email</a>, filing a <a href="#">ticket</a>, or tweeting us <a href="#">@BitcasaSupport</a>.</p>
</div>
<div class="end">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/">For Developers</a></li> 
          <li><a href="/">Downloads</a></li>
          <li><a href="/">Media Kit</a></li>
          <li><a href="/">Careers</a></li>
          <li><a href="/">Meet the team</a></li>
           
                  <li><a href="/">Our Blog</a></li>
    </ul>

</div>

</div>
