<div id="footer">
    <div class="engage">
      <h6>Still having troubles? Let's talk.</h6>
         <p>We're here to answer your questions from 9am to 6pm PST Monday through Friday. Get in touch by sending us an <a href="#">email</a>, 
          filing a <a href="#">ticket</a>, or tweeting us <a href="#">@BitcasaSupport</a>.</p>
</div>

<div class="end">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="https://www.bitcasa.com/developers" target="_blank">For Developers</a></li> 
      <li><a href="https://www.bitcasa.com/download" target="_blank">Downloads</a></li>
      <li><a href="https://www.bitcasa.com/media" target="_blank">Media Kit</a></li>
      <li><a href="https://www.bitcasa.com/careers" target="_blank">Careers</a></li>
      <li><a href="/">Meet the team</a></li>
      <li><a href="/">Support Blog</a></li>s
    </ul>

</div>

</div>
