  <div class="logo">
    <img class="avatar" src="http://f.cl.ly/items/2I1u0n0R3S3645291Q30/Bitcasa-Logo-Green.png">
  </div>

  <div class="nav">
    <ul>
      <li><a href="/">Home</a></li>
          <li><a href="/">Tweet @Bitcasa</a></li>
              <li><a href="/">Read the blog</a></li>
                  <li><a href="/">Send an email</a></li>
    </ul>
  </div>
  <div class="header">
<h5>Welcome to the Bitcasa help center. Find answers to common questions, stay updated on product changes, and learn about Bitcasa inside and out.</h5> 
</div>
  <hr class="six">